<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../../vue.js"></script>
</head>

<body>
    <div id="app">
        复选框
        <input type="checkbox" v-model="toggle" true-value="1" false-value="0">
        单选按钮
        <input type="radio" v-model="pick" :value="zxd">
        Select Options
        <select v-model="selected">
            <!-- 内联对象字面量 -->
            <option :value="{ number: 123 }">123</option>
          </select>
    </div>
    <script>
        Vue.createApp({
            data() {
                return {
                    toggle: '1',
                    pick: true,
                    zxd: 'zzxxdd'
                }
            }
        }).mount('#app');
    </script>
</body>

</html>